Email_Cheker.json
{
  "name": "Email Cheker",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -520,
        20
      ],
      "id": "45a461a3-0098-4a42-96ac-3d17bdc4cc1e",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "IriGkXbgxWOn0id5",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the email by checking the {{ $json.textPlain }} and determine if it's spam or not, output \"Spam\" or \"Not Spam\" and provide a single line for the reasoning",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -40,
        40
      ],
      "id": "19e11281-6f95-4e2d-b0a4-c0834d3fb40b",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -280,
        20
      ],
      "id": "7bb0ec14-19f0-4852-998e-fd7b9b71a2c9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "text": "=Subject: {{ $('Email Trigger (IMAP)').item.json.subject }}\nSender: {{ $('Email Trigger (IMAP)').item.json.from }}\nDate: {{ $('Email Trigger (IMAP)').item.json.date }}\nResult: {{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Subject",
              "description": "={{ $('Email Trigger (IMAP)').item.json.subject }}"
            },
            {
              "name": "Sender",
              "description": "={{ $('Email Trigger (IMAP)').item.json.from }}"
            },
            {
              "name": "Date",
              "description": "={{ $('Email Trigger (IMAP)').item.json.date }}"
            },
            {
              "name": "Result",
              "description": "={{ $json.text.toLowerCase().includes('Not Spam') }}"
            },
            {
              "name": "Reasoning",
              "description": "={{ $json.text }}"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value.\nAnalyze the {{ $json.text }} to see if it reposts \"Spam\" or \"Not Spam\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        320,
        40
      ],
      "id": "eb402c05-0511-4508-bc95-e6f3a3cfeefa",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        340,
        260
      ],
      "id": "4167a76a-8a70-4a4f-9046-1b5e36cde4cf",
      "name": "Ollama-Output Parser",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        -20,
        280
      ],
      "id": "3cc87446-c149-427b-9650-d9cd04fbfcea",
      "name": "Ollama- Spam Checker",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1DGuwaRmUkQXWZwt2Ygk2QHnEYDorrKVK37XaWEBTmxM/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DGuwaRmUkQXWZwt2Ygk2QHnEYDorrKVK37XaWEBTmxM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Reasoning": "={{ $('Basic LLM Chain').item.json.text }}",
            "Result": "={{ $('Basic LLM Chain').item.json.text.toLowerCase().includes('Not Spam') }}",
            "Date": "={{ $('Email Trigger (IMAP)').item.json.date }}",
            "Sender": "={{ $('Email Trigger (IMAP)').item.json.from }}",
            "Subjet": "={{ $('Email Trigger (IMAP)').item.json.subject }}"
          },
          "matchingColumns": [
            "Subjet"
          ],
          "schema": [
            {
              "id": "Subjet",
              "displayName": "Subjet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sender",
              "displayName": "Sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Result",
              "displayName": "Result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reasoning",
              "displayName": "Reasoning",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        680,
        40
      ],
      "id": "4c74e921-b66c-45d2-83c0-a48834a07c73",
      "name": "Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "VLzJOrI4KBlxgvUz",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama-Output Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama- Spam Checker": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bda32370-8458-4b37-bfef-c973988f2709",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "lc0xYR1hTgXXSKuo",
  "tags": []
}